/* 手动轮播样式 */
.banner-container{
	width: 80%; /* 宽度设为屏幕的80% */
	max-width: 1200px; /* 最大宽度限制为1200px */
	height: calc(80vw / 2); /* 高度设为宽度的80%的一半，以保持2:1的宽高比 */
	margin: 1rem auto;
	overflow: hidden;
	position: relative;
}

.banner-img-container {
	width: 1000%; /* 图片容器宽度为图片数量的十倍 */
	height: 100%;
	overflow: hidden;
	position: absolute;
	display: flex;
	transition: transform 0.6s ease;
}

.banner-container .banner-img-container img{
	width: 10%; /* 每张图片宽度为图片容器的1/10 */
	height: 100%;
	object-fit: cover; /* 保持图片比例填充 */
}

/* 轮播图圆点样式 */
.banner-container a {
	width:10px;
	height:10px;
	background:rgba(200,200,200,0.6);
	position: absolute;
    line-height:0px;
	bottom:1rem;
	border-radius: 100%;
	margin:0;
	z-index: 1;
}

.banner-container input{
	width:24px;
	height:24px;
	position: absolute;
	bottom:1rem;
	margin:0;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}

/* 设置导航圆点偏移量（居中布局）*/
#banner-control-1,#banner-control-1 + .banner-nav-a{
    left: 48%;
}
#banner-control-2,#banner-control-2 + .banner-nav-a{
    left: 50%;
}
#banner-control-3,#banner-control-3 + .banner-nav-a{
    left: 52%;
}

/* 设置高亮 */
/*当 input 被选中时 他的兄弟级a标签高亮展示*/
input:checked + .banner-nav-a {
    background-color: rgba(255,255,255,1);
}

/* 设置轮播图动画 */
#banner-control-1:checked ~ .banner-img-container{
	transform: translateX(0);
}
#banner-control-2:checked ~ .banner-img-container{
	transform: translateX(-10%);
}
#banner-control-3:checked ~ .banner-img-container{
	transform: translateX(-20%);
}
